<!-- Afficher les informations sur un article donnée -->
<h1><%= article.title %></h1>

<div class="meta">Par <%= article.author %></div>

<div><%= article.content %></div>

<div style="margin-top: 2rem">
  <a href="/">&larr; Retour à l'accueil</a>
</div>
